aiohappyeyeballs==2.6.1
aiohttp==3.9.5
aiosignal==1.3.2
attrs==25.3.0
discord==2.3.2
discord.py==2.5.2
frozenlist==1.6.0
idna==3.10
lxml==5.4.0
multidict==6.4.3
pillow==11.2.1
propcache==0.3.1
python-dotenv==1.1.0
python-pptx==1.0.2
riot-auth @ git+https://github.com/floxay/python-riot-auth.git@d99c13ed8fbd5d2800e15be5e7196956bb9164e3
typing_extensions==4.13.2
XlsxWriter==3.2.3
yarl==1.20.0
